@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#color-1 {
  background: #d5d5d5;
}

#color-2 {
  background: #d5d5d5;
}

#color-3 {
  background: #d5d5d5;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 200px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: slateblue;  }
 
 
  

  #color-1 {
    background-color: green;
    width: 50%;
  }

  #color-2 {
    background-color: brown;
    width: 50%;
  }

  #color-3 {
    background-color: lawngreen;
    width: 100%;
  }

  footer {
    background-color: hotpink;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: skyblue;
  }

  

  #color-1 {
    background-color: blueviolet;
    width: 33.3%;
  }

  #color-2 {
    background-color: teal;
    width: 33.3%;
  }

  #color-3 {
    background-color: salmon;
    width: 33.3%;
  }

  footer {
    background-color: orangered;
  }
   
}
